{% extends 'base.html.twig' %}

{% block title %}Scoreo - Home{% endblock %}

{% block body %}
<div class="container">
    <h2 id="welcome-title">Bienvenue sur Scoreo !</h2>
    <p id="p-intro">A simple way to keep the score of your tournaments, games, parties with friends</p>
</div>

{% endblock %}
