{% extends 'base.html.twig' %}

{% block title %}Edit Contest{% endblock %}

{% block body %}
    <h1>Edit Contest</h1>

    {{ include('contest/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('contest_index') }}">back to list</a>

    {{ include('contest/_delete_form.html.twig') }}
{% endblock %}
