<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link href="./public/bootstrap.css" rel="stylesheet" />
        <link href="./public/assets/main.css" rel="stylesheet" />
        {% endblock %}
    </head>
<body>
    <header class="container-fluid">
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="/" class="navbar-brand d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="mr-2" focusable="false" aria-hidden="true">
                        <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z">
                        </path>
                        <circle cx="12" cy="13" r="4"></circle>
                    </svg>
                    <strong>ScoreKeeper</strong>
                </a>
                <div>
                    <a href="{{ path('app_login') }}"
                        class="btn btn-success <?php if($_SESSION['is_logged_in'] == true) { ?> d-none <?php } ?>">Connexion</a>
                    <a href="{{ path('logout') }}"
                        class="btn btn-danger d-none <?php if($_SESSION['is_logged_in']) { ?> d-inline <?php } ?>">Deconnexion</a>
                    <a href="{{ path('app_register') }}"
                        class="btn btn-warning <?php if($_SESSION['is_logged_in'] == true) { ?>d-none <?php } ?>">S'inscrire</a>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <?= $content ?>
            <div />
    </main>

    <footer class="container-fluid">
        <div class="navbar-dark bg-dark shadow-sm">
            <div class=" d-flex ">
                <div class=""><div />
                </div>
            </div>
    </footer>

</body>

</html>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
